#widjet_chatbot_flycatch_custom-button {
  padding: 4px, 8px, 4px, 8px;
  color: white;
  background-color: #080ccb;
  border: 0px solid #000;
  border-radius: 0.313rem;
  cursor: pointer;
  display: flex;
  margin-right: 0.313rem;
  vertical-align: middle;
  height: 1.75rem;
  width: 2.25rem;
  justify-content: center;
  margin-bottom: 0.75rem;
  align-items: center;
}

#widjet_chatbot_flycatch_custom-button:hover {
  background-color: #e52a2b;
}

#widjet_chatbot_flycatch_custom-text {
  margin-left: 0.625rem;
  font-family: sans-serif;
  color: #aaa;
}
