.widjet_chatbot_flycatch_main-div {
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 1.25rem;
  position: absolute;
  bottom: 4.688rem;
  right: 1.688rem;
  width: 23.563rem;
  animation: fade-in-out 0.3s ease-in-out both;
}

@keyframes fade-in-out {
  0% {
    transform: translate(50%);
    opacity: 0;
  }
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}
